In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('League of Legends Champion Stats 12.3.csv', sep = ';')
df

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
0,Aatrox,Fighter,TOP,S,59.99,4.88,48.06%,92.58%,5.03%,2.15%,1.87
1,Ahri,Mage,MID,God,95.22,39.37,53.40%,94.04%,15.29%,8.93%,2.59
2,Akali,Assassin,TOP,S,74.79,-12.94,48.48%,41.25%,5.10%,20.26%,2.08
3,Akali,Assassin,MID,S,64.77,-9.81,49.10%,58.10%,7.51%,20.26%,2.33
4,Akshan,Marksman,MID,A,54.42,-9.08,50.75%,59.43%,4.14%,18.73%,2.18
...,...,...,...,...,...,...,...,...,...,...,...
233,Ziggs,Mage,MID,B,42.32,0.52,50.46%,27.84%,0.81%,0.46%,2.38
234,Zilean,Support,MID,A,51.66,-1.39,52.36%,22.05%,1.18%,3.46%,3.35
235,Zilean,Support,SUPPORT,A,48.41,1.27,50.29%,71.90%,3.55%,3.46%,3.10
236,Zoe,Mage,MID,A,49.40,1.69,49.97%,92.29%,3.28%,1.31%,2.51
237,Zyra,Mage,SUPPORT,A,47.50,-0.67,52.36%,90.63%,3.35%,1.98%,2.15

When working with data in pandas, the column name format can be important. Change the name of the columns that have the perctange symbol in it to words.

Example.) 'Win %' should become 'Win_Pct'

In [10]:
df.rename(columns={'Win %': 'Win_Pct', 
                  'Role %': 'Role_Pct',
                  'Pick %': 'Pick_Pct', 
                  'Ban %': 'Ban_Pct'}, inplace=True)
df.columns

Index(['Name', 'Class', 'Role', 'Tier', 'Score', 'Trend', 'Win_Pct',
       'Role_Pct', 'Pick_Pct', 'Ban_Pct', 'KDA'],
      dtype='object')

Take a look at the columns that show the percentage? What kind of data type is it? Will this be a problem?

In [15]:
df['Win_Pct'] = df['Win_Pct'].replace('%', '', regex=True).astype('float')
df['Role_Pct'] = df['Role_Pct'].replace('%', '', regex=True).astype('float')
df['Pick_Pct'] = df['Pick_Pct'].replace('%', '', regex=True).astype('float')
df['Ban_Pct'] = df['Ban_Pct'].replace('%', '', regex=True).astype('float')

How many unique champions are in this dataset? Is there a difference in the count of unique champions and the whole data? Can you explain why there is that difference?

In [18]:
name = df['Name'].unique()
len(name)

len(df['Name'])

238

Find the name of the champions that have:

the highest pick percentage, the highest ban percentage, the highest win percentage.

Then find the name of the champions that haveL

the lowest pick percentage, the lowest ban percentage, the lowest win percentage.

In [19]:
df.sort_values(by='Pick_Pct', ascending=False)

,Name,Class,Role,Tier,Score,Trend,Win_Pct,Role_Pct,Pick_Pct,Ban_Pct,KDA
71,Jhin,Marksman,ADC,S,74.41,-18.35,51.09,98.30,22.68,5.42,2.99
72,Jinx,Marksman,ADC,S,70.16,-16.71,51.11,99.07,21.60,6.19,2.39
231,Zeri,Marksman,ADC,God,93.51,7.40,52.32,81.37,18.21,50.98,2.45
39,Ezreal,Marksman,ADC,S,61.47,-9.74,49.18,96.44,18.18,4.43,2.36
92,Lee Sin,Fighter,JUNGLE,God,89.35,-2.46,47.59,93.27,15.62,14.11,2.67
...,...,...,...,...,...,...,...,...,...,...,...
180,Taliyah,Mage,MID,B,43.12,5.46,51.73,15.19,0.24,0.15,2.42
144,Rumble,Fighter,JUNGLE,C,33.60,7.95,48.96,13.42,0.24,0.25,2.71
58,Heimerdinger,Mage,SUPPORT,D,30.94,0.68,50.34,12.05,0.24,1.25,1.84
88,Kled,Fighter,MID,A,49.38,0.00,54.82,10.14,0.18,0.80,2.63
168,Skarner,Fighter,TOP,D,17.02,-10.21,48.85,19.86,0.16,0.13,2.16

What is the average KDA for each role?

In [ ]:
Top = df['Role'] == 'TOP'
Jungle = 
Mid = 
ADC = 
Support

What are the top 10 champions with the highest overall score?

What is the count of champions in each Tier?

In [21]:
df[df['Tier'] == 'A'].count()

Name        59
Class       59
Role        59
Tier        59
Score       59
Trend       59
Win_Pct     59
Role_Pct    59
Pick_Pct    59
Ban_Pct     59
KDA         59
dtype: int64

What is the count of champions in each class?

Lets say that "God" tier really isn't any different than S tier. Change all "God" tier into "S" tier.

In [24]:
df['Tier'] = df['Tier'].apply(lambda x: 'S' if x == 'God' else x)
df['Tier']

0      S
1      S
2      S
3      S
4      A
      ..
233    B
234    A
235    A
236    A
237    A
Name: Tier, Length: 238, dtype: object

What is the distribution of tiers of champions for each class?

In [28]:

clas = df['Class'].groupby(df['Tier']).value_counts()
clas

Tier  Class
A     Mage        16
      Fighter     15
      Marksman     9
      Tank         7
      Assassin     6
      Support      6
B     Mage        19
      Marksman    13
      Fighter     12
      Assassin     7
      Tank         6
      Support      3
C     Fighter     13
      Mage        10
      Tank         6
      Support      3
      Assassin     2
      Marksman     2
D     Fighter      9
      Mage         9
      Tank         4
      Assassin     1
      Marksman     1
S     Fighter     21
      Assassin    10
      Mage         8
      Marksman     7
      Support      7
      Tank         6
Name: Class, dtype: int64

With the edited tier list, create a new column that represents the Tier list in a numerical value.

Try and not sure the lambda function with this question.

In [33]:
mapping = {v: k for k, v in enumerate(df['Tier'].unique())}
mapping

df['Tier_Num'] = df['Tier'].map(mapping)
df['Tier_Num']

0      0
1      0
2      0
3      0
4      1
      ..
233    2
234    1
235    1
236    1
237    1
Name: Tier_Num, Length: 238, dtype: int64

In [42]:
df[5989:]

Empty DataFrame
Columns: [Name, Class, Role, Tier, Score, Trend, Win_Pct, Role_Pct, Pick_Pct, Ban_Pct, KDA, Tier_Num]
Index: []

The Trend column indicates the change in overall score since the last patch. Based on the trend column, create a new column that indicates "Positive" if the trend has gone up and "Negative" if the trend has gone down.

Which champions had the biggest negative and positive difference in their trend?

As you can see in the data, there are some champions that can be played in multiple roles. First, which champions can be played in multiple roles?

Create a function that takes a user input and will create a subset of the role based on user input.

Create a function that takes a user input of a champion name. If the champion can be played in multiple roles, will return the role which has a higher win percentage.

Homework

Create a function that will randomaly generate a full team composition. 
The function should return a dictionary with the key being the role and the value being the champion name.

Each team must have a Top, Jungle, Mid, Bot, and Support

Create a function that will randomly generate a full team composition. This time however, only include champions that have a win percentage greater than 50%.